html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: url("/img/poster.jpg") fixed no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.video-background {
    min-height: 100%;
    position: relative;
}

.video-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.title {
    font-family: "Bungee", cursive;
    color: #697180;
    clear: left;
}

.subtitle {
    font-family: 'Alegreya', serif;
    color: #697180;
    clear: both;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #526580;
    clear: right;
}

.toggle-button {
    visibility: hidden;
}
